@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.access-page * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.access-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}


.access-page .container-form {
    padding: 05px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 100%;
    background-color: white; /* Añadido para una mejor visualización */
    border: solid thin red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .access-page .information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }  

.access-page .info-childs {
  width: 100%;
  padding: 0 35px;
}

.access-page .info-childs h2 {
  border: 2px solid;
  page-break-inside: auto;
  font-size: 20px;
  margin: 10px;
  color: red;
}

.access-page .info-childs p {
  border-radius: 20px;
  margin: 15px 0;
  font-size: 0.8rem;
  color: #ffffff;
}

.access-page .btn-primary {
  width: 200px;
  height: 40px;
  background-color: hsl(34, 83%, 47%);
  outline: none;
  border: solid 2px #333;
  border-radius: 10px;
  color: hwb(240 96% 3%);
  font-size: 16px;
  cursor: pointer;
  padding: 1px 1px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.access-page .btn-secondary {
  width: 185px;
  height: 35px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 20px;
  text-align-last: start;
}

.access-page .search-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 180px;
  left: 450px;
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.access-page .search-container form {
  display: flex;
}

.access-page .search-container input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #222020;
  margin-right: 5px;
}

.access-page .search-container button {
  padding: 8px 15px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: none;
  border-radius: 4px;
  border: 3px solid #222020;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.access-page .search-container button:hover {
  background-color: hsl(180, 3%, 6%);
}

